* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100vh;
    /* background-color: #353B3C; */
}

.whole-page {
    display: flex;
    /* position: relative; */
    height: 100%;
    width: 100%;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;

    
}

.main-container {
    display: flex;
    /* position: relative;  */
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    /* background-color: #C6C7C4; */
    /* background-color: #A2999E; */
    background-color: #EEF0F2;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.2) 0px 3px 6px, rgba(15, 15, 15, 0.4) 0px 9px 24px;
}

.weather-content {
    display: grid;
    align-items: center;

    grid-template-columns: 4fr 1fr;

    height: 90%;
    width: 96%;
    
}

.weather {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 95%;
    width: 100%;
}

.section {
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 2fr 1fr;
    height: 100%;
    width: 95%;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.section1 {
    /* background-color: #964949; */
    background-color: #8571C1;
}

.section2 {
    /* background-color: #69bbb4; */
    background-color: #8571C1;
}

.section3 {
    /* background-color: #9A7197; */
    /* background-color: #8360d6; */
    background-color: #8571C1;

}

.section {
    /* background-color:  #FFE099; */
    background-color: #4FD2E3;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 95%;
    width: 100%;

    border-radius: 20px;

    background-color: #00ccff;
    background-color: #353B3C;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 10px 50px 10px 50px ;
    border-radius: 10px;
    background-color:  #FFE099;
    font-weight: bold;
    font-size: 1.5rem;
    box-shadow: rgba(121, 120, 120, 0.15) 0px 5px 15px 0px;
    cursor: pointer;
}

.btn:hover {
    background-color: #fcd272;
}

.name {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;
    font-size: 2.1rem;
    font-weight: bolder;
    width: 100%;
}

.icon-slot {
    display: flex;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    font-size: 2rem;
    font-weight: 600;
}